<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <context:component-scan base-package="org.generation.brainless"/>

    <bean id="musicPlayer"
          class="org.generation.brainless.MusicPlayer"
          init-method="initialization"
          destroy-method="destruction"
          scope="prototype">
        <property name="musicList">
            <list>
                <ref bean="classicalMusic"/>
                <ref bean="rockMusic"/>
                <ref bean="popMusic"/>
            </list>
        </property>
        <property name="name" value="${musicPlayer.name}"/>
        <property name="value" value="${musicPlayer.value}"/>
    </bean>

</beans>